#five{
  width: 100%;
  position: relative;
}  
#five .back{
  width: 800px;
  height: 1000px;
  /*! background-color: #efe5f2; */
  position: absolute;
} 
#five .wrap{
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#five .wrap2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  height: 900px;
  position: relative;
  margin-left: 50px;
}
#five .left{
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  order: 2;
} 
#five .left a{
  border: 2px solid #e7dae8;
  text-align: center;
  border-radius: 20px;
  width: 100px;
  margin-bottom: 50px;
  transition: all 0.2s;
  padding: 10px;
  color: #e7dae8;
}
#five .left a:hover{
  border: 1px solid #656565;
  color: #656565;
}
#five .left h3{
  font-size: 70px;
  color: #af84b2;
  font-weight: bold;
  font-family: 'OKDDUNG';
  letter-spacing: 5px;
}
#five .left p{
  margin-bottom: 250px;
  line-height: 2.3;
  margin-top: 100px;
  color: #656565;
  font-size: 17px;
}
#five .right{
  display: flex;
  justify-content: start;
  width: 900px; 
  order: 1;
}
#five .right article{
  text-align: center;
  margin-bottom: 50px;
}
#five .right article a{ 
  display: block; 
  width: 800px;
  height: 500px;
  border-radius: 20px;
  text-align: center;
  background-image: url(../img/ca.png);
  background-size: 110% 110%;
  background-position: center;
  transition: all 0.5s;
}
#five .right article a:hover{
  background-size: 120% 120%;
}
#five .right article h4{
  font-size: 25px;
  margin-top: 30px;
  line-height: 1.2;
}
#five .right article p{
  line-height: 2;
  margin-top: 20px;
}







