/* div.wrap */
#one {
  width: 100%;
  margin-top: 50px;
}  
#one .wrap {
  height: 1000px;
  display: flex;
  justify-content: space-around;
}   
#one .wrap h2 {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'OKDDUNG';
  letter-spacing: 5px;
}
#one .wrap h2::before{
  content: "";
  display: inline-block;
  background-image: url(../img/menuwave.png);
  width: 200px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 50px;
}
/* .about */
#one .intro{
  width: 1000px; 
}
#one .intro article {
  display: flex;
  align-items: center;
}
#one .intro article .photobox {
  display: block;
  width: 400px;
  height: 500px;
  border-radius: 50px;
  background-color: #78b5e3;
}
#one .intro p {
  line-height: 2;
  font-size: 15px;
  width: 400px;
  margin-top: 30px;
  margin-left: 20px;
}
#one .intro p span{
  font-weight: bold;
  margin-right: 5px;
}
#one .intro ul {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  line-height: 2.5;
  margin-left: 50px;
}
#one .intro ul li {
   
}
#one .intro ul li:nth-child(1){
  border: 1px solid  #e9e9e9;
  text-align: center;
  border-radius: 20px;
  width: 130px;
  margin-bottom: 30px;
  transition: all 0.2s;
}
#one .intro ul li:nth-child(1):hover{
  border: 1px solid black;
}
#one .intro ul li span{
  font-weight: bold;
}
/* .about */
#one .about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 500px;
  padding-bottom: 170px;
}
#one .about article{
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#one .about .edu{
  margin-bottom: 110px;
}
#one .about .edu ul{
  line-height: 3;
  right: 60px;
  position: relative;
  top: 60px;
}
#one .about .edu ul li{
  
}
#one .about .edu ul li:nth-child(1){
  font-size: 30px; 
  position: absolute;
  top: -100px; 
  left: 114px;
}
#one .about .edu ul li span{
  color: #757575;
  font-weight: bold;
}
#one .about .skill{
  flex-direction: column;
}
#one .about .skill h3{
  font-size: 30px;
  margin-bottom: 50px;
}
#one .about .skill figure{
  display: flex;
  margin-bottom: 30px;
}
#one .about .skill figcaption{
  width: 200px;
}