header{
  width: 100%;
  height: 100px;
  display: flex;
}
header .wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
header .wrap h1{
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .wrap h1::before{
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../img/mang.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header .wrap h1::after{
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../img/ming.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#title{
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title h2{
  width: 870px;
  height: 690px;
  background-image: url(../img/title1.png);
  background-position: center;
  background-repeat: no-repeat;
}