#two{
  width: 100%;
  padding-top: 50px;
  background-color: #E8F4FD;
}  
#two .wrap{
  height: 900px;
}
#two .wrap h2 {
  font-size: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
#two .wrap h2::before{
  content: "";
  display: inline-block;
  background-image: url(../img/menuwave.png);
  width: 200px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 50px;
}
#two .contents{
  
  display: flex;
  justify-content: space-around;
}
#two .contents article{
  
  text-align: center;
  line-height: 5;
}
#two .contents h3{
  
  font-size: 30px;
}